---
---

@import "{{ site.theme }}";

.inner {
  position:relative;
  max-width:800px;
  padding:20px 10px;
  margin:0 auto
}

#logo {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border:none
}

#binjr_logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../images/binjr_logo.png') no-repeat ;
  background-size:100%;
  width: 300px; /* Width of new image */
  height: 146px; /* Height of new image */
  padding-left: 300px; /* Equal to width of new image */
}

a:hover,a:focus {
        text-decoration:underline;
        font-weight:normal
}

.btn > a:hover {
        text-decoration:none;
        font-weight:normal
}

.download_bar>div {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 18%;
    text-align: center;
    margin: 5px;
    background: #212121;
    background: -moz-linear-gradient(top, #373737, #212121);
    background: -webkit-linear-gradient(top, #373737, #212121);
    background: -ms-linear-gradient(top, #373737, #212121);
    background: -o-linear-gradient(top, #373737, #212121);
    background: linear-gradient(top, #373737, #212121);
    border-radius: 2px;
    padding: 6px 0px;
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

.btn {
    color: white;
    font-size: 14px;
    margin: 10px 10px 0px 10px;
    position: relative;
    width: 100%;
}

.btn:default {
    color: red;
}

.btn:hover {
    text-shadow: 0px 0px 20px #ffffff;
    *font-weight: 700;
    *font-size: 14px;
    text-decoration: none;
}

.btn:active {
    top: 1px;
    left: 1px;
    *font-weight: 700;
    *font-size: 14px;
    *text-decoration: none;
}

