---
---

@import "{{ site.theme }}";

.inner {
  position:relative;
  max-width:800px;
  padding:20px 10px;
  margin:0 auto
}

#logo {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border:none
}

#binjr_logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../images/binjr_logo.png') no-repeat ;
  background-size:100%;
  width: 300px; /* Width of new image */
  height: 146px; /* Height of new image */
  padding-left: 300px; /* Equal to width of new image */
}

a:hover,a:focus {
        text-decoration:underline;
      /*  font-weight:bold*/
}

.download_bar > div {
    display: inline-block;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 18%;
    text-align: center;
   /* background-color: #204656;
	border-color:  #DAEEF3;
	border-style: solid;
    border-radius: 8px;
    box-shadow: #92CDDC;
    border-width: 1px;*/
    margin: 5px;
}

.btn {
    font-family:'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-color: #4BACC6;
    border-radius: 2px;
    padding: 10px 0px;
    margin: 10px 10px 0px 10px;
    font-weight:700;
    font-size: 20px;
   /* word-spacing: 10px;/*
   /* box-shadow: 0px 5px 0px #232425;*/
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    position: relative;   
    width: 100%;
}
/*.btn:hover {
   
    text-shadow: 0px 0px 20px #ffffff;
}*/



.btn:active {
  
    box-shadow: 0px 2px 0px #232425;
    top: 2px;
    left: 2px;
}

