---
---

@import "{{ site.theme }}";

#logo {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border:none
}

#binjr_logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../images/binjr_logo.png') no-repeat ;
  background-size:100%;
  width: 300px; /* Width of new image */
  height: 146px; /* Height of new image */
  padding-left: 300px; /* Equal to width of new image */
}
