<!DOCTYPE html>
<html>
	
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" >
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <title>{{ site.title | default: site.github.repository_name }}</title>
  </head>
  <script src="https://use.fontawesome.com/4f6fcc58d8.js"></script>	
  <script src="{{ site.url }}/js/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
        GetLatestReleaseInfo();
    });
  
    function GetLatestReleaseInfo() {
        $.getJSON("{{ site.github.api_url }}/repos/{{ site.github.repository_nwo }}/releases/latest").done(function (release) {
            for (var i = 0; i < release.assets.length; i++) {
              if (release.assets[i].name.endsWith("jar")){
                $(".binjr-download-jar").attr("href", release.assets[i].browser_download_url);
              }      
              if (release.assets[i].name.endsWith("msi")){
                $(".binjr-download-msi").attr("href", release.assets[i].browser_download_url);
              }   
              if (release.assets[i].name.endsWith("rpm")){
                $(".binjr-download-rpm").attr("href", release.assets[i].browser_download_url);
              }   
              if (release.assets[i].name.endsWith("deb")){
                $(".binjr-download-deb").attr("href", release.assets[i].browser_download_url);
              }   
              if (release.assets[i].name.endsWith("dmg")){
                $(".binjr-download-dmg").attr("href", release.assets[i].browser_download_url);
              }         
            }                       
           
        });
    }
  </script>

  <body>
   <!--<div id="page_wrap">-->
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          
          <a id="binjr_logo" href="{{ site.url }}"></a> 
          
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
		
	  <div class="download_bar">
            <div><a class="fa_icons fa fa-windows"/><a class="btn binjr-download-msi" href="https://github.com/fthevenet/binjr/releases/latest"> Windows</a></div>
            <div><a class="fa_icons fa fa fa-apple"/><a class="btn binjr-download-dmg" href="https://github.com/fthevenet/binjr/releases/latest"> MacOS</a></div>
            <div><a class="fa_icons fa fa-linux"/><a class="btn binjr-download-rpm" href="https://github.com/fthevenet/binjr/releases/latest"> Linux (RPM)</a></div>
            <div><a class="fa_icons fa fa-linux"/><a class="btn binjr-download-deb" href="https://github.com/fthevenet/binjr/releases/latest"> Linux (DEB)</a></div>
            <div><a class="fa_icons fa fa-archive"/><a class="btn binjr-download-jar" href="https://github.com/fthevenet/binjr/releases/latest"> JAR</a></div>
          </div>       
	 
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">      
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">© 2017 <a href="{{ site.github.owner_url }}">Frederic Thevenet</a></p>
        {% endif %}       
      </footer>
    </div>
   <!--</div>-->
  </body>
</html>
